node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

logs
*.log
logs/**/*.log

dist/
out/
build/

*.tsbuildinfo

coverage/
.jest/

.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp

.DS_Store

.tmp/